// Selection
// --------------------------------------------------
::-moz-selection {
	background-color: lighten($base-color, 65%);
	color: $base-color;
	text-shadow: none;
}
::selection {
	background-color: lighten($base-color, 65%);
	color: $base-color;
	text-shadow: none;
}

// Global Classes
// --------------------------------------------------
.center {
	text-align: center;
  }

  .border {
	margin-bottom: 1.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border: 1px solid #e8e8e8;
	background-color: lighten(#e8e8e8, 5%);
	@include rounded(3px);
  }
  
.no-italics {
    font-style: normal;   
}
.wrap {
	margin: 0 auto;
}
.all-caps {
	text-transform: uppercase;
}
.image-left {
	float: none;
	@media #{$medium} {
		float: left;
	}
}
.image-right {
	float: none;
	@media #{$medium} {
		float: right;
	}
}
.unstyled-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	li {
		list-style-type: none;
	}
}
.inline-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	li {
		list-style-type: none;
		display: inline;
	}
}

// Global Transition
// ---------------------------------------------------
b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a {
	@include transition(all .2s ease);
}
